@charset "UTF-8";
/* 
使用上の注意
すべて仮の設定になっているので自由に書き換えてOKです
common.cssに記述する内容はサイト全体で

☆リセット設定
☆基準となる設定
☆使いまわしするデザイン


*/

/* リセット設定 */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}



/* 共通部分（基準となる設定）
------------------------------- */
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}


/* 使い回しCSS（使いまわしするデザイン）
------------------------------- */
/*　固定幅 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background: #0090aa;
}

/* ヘッダー（使いまわしするデザイン）
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

/* フッター（使いまわしするデザイン）
------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}